#intro{
    margin: 70px;
}

#bsse{
    margin-top: 50px;
}

#about{
    margin-top: 20px;
}

a{
    color: whitesmoke;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

#head{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#body{
    margin: 40px;
}

#genre{
    font-family:'Courier New', Courier, monospace;
    color: rgb(1, 15, 9);
    background-color: rgb(242, 243, 208);
}

.nav-link{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}

.panel{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card{
    border-style: solid;
    border-color: rgb(224, 219, 230);
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 80px;
    cursor: pointer;
    
}

.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
 padding: 40px;
}

a:hover{
    color: rgb(224, 219, 230);
}


.row{
    margin-left: 10px;
}